body{
    overflow-x: hidden;
}

*{
    font-family: "Poppins", serif;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

#logo{
    max-width: 7%;
    max-height: 9%;
}


#navbarNav a{
    font-size: 16px;
    padding: 0 0 0 70px;
    justify-content: space-evenly;
    cursor: pointer;
}

a{
    cursor: pointer;
}

.card{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(14, 142, 202);
    background-color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh; 
    margin-top: 20vh; /* Espaço superior para centralizar */
    flex-wrap: wrap; 
}


.btn-primary {
    background-color: rgb(0, 149, 255);
    color: white;
    font-size: 1.6rem;
    padding: 1vh 2vh;
    border: none;
    border-radius: 2vh;
    transition: box-shadow 0.3s ease;
    max-width: 200px;
    flex: 1 1 150px;
}


.btn-primary:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 139, 0.5);
}

#tituloInfo{
    text-align: center;
    margin-bottom: -20vh;
    margin-top: 5vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
.button:hover::before {
    transform: scaleX(1);
}
  
.button-content {
    position: relative;
    z-index: 1;
    color: white;
}
  
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(3, 170, 17) 10.8%,
      rgb(27, 120, 241) 94.3%
    );
    transition: all 0.475s;
    text-decoration: none;
}

  

#tituloDicas{
    text-align: center;
}

.card-title{
    text-align: center;
}

#tituloContato{
    text-align: center;
    margin-top: 25vh;
}

h2{
    text-align: center;
    overflow-y: hidden;
}

#tituloMaterial{
    margin-top: 25vh;
}

::placeholder{
    color: white;
}

.alert{
    text-align: center;
    color: rgb(0, 0, 0);
    max-height: 30vh;
    margin-top: 20vh;
    margin: 0;
}

#bigTable{
    color: black;
    text-decoration: underline;
}


iframe{
    margin-top: 10vh;
    border: solid 2px black;
    width: 90%;
    margin-left: 10vh;
}



section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(69, 178, 59);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    margin-right: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    color: #ffffff;
    background-color: rgb(69, 178, 59);
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}


#rodape{
    color: rgb(0, 0, 0);
    text-align: center;
    height: 15vh;
    
}
@media only screen and (max-width: 460px) {
    #logo {
        max-width: 10vh;
        height: auto;   
    }

    .carousel-item{
        margin-top: 10vh;
    }

    .card{
        max-width: 70vh;
        height: 100vh;
        margin: 10vh;
    }

    #cardBody{
        max-height: 1vh;
    }

    #video{
        margin: 3vh;
    }
    
    .localizaçao{
        max-width: 50vh;
        margin: -7vh;
    }

}

@media only screen and (max-width: 800px), (max-width: 900px){
    .localizaçao{
        max-width: 100%;
        margin: -5vh;
    }

    #video{
        margin: 4vh;
        max-width: 100%;
    }
}

